/* CLASES */

.lenguajes {
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}

.proyectos {
    background: linear-gradient(rgb(12, 12, 12), rgb(24, 24, 24))
}

.card {
    box-shadow: 5px 5px 0px rgb(153, 153, 153);
    margin-bottom: 20px;
}

.btn-secondary {
    background-color: rgb(32, 32, 32);
}

.proyectosTitulo {
    padding-top: 50px;
}

.p-sobremi {
    text-align: center;
    font-size: 20px;
    color: #888;
    font-family: "Oswald", sans-serif;
    margin-top: -20px;
    padding: 5px;
}

.container--sobremi {
    padding-bottom: 100px;
}

.titulo-sobremi {
    font-size: 30px;
    color: #fff;
}

.container--contacto {
    padding-bottom: 40px;
}
